#root {
  margin: 0;
  width: 100%;
  text-align: center;
}

.whole-screen {
  min-height: 100vh;
  padding: 2rem;
}


.react-player {
  /* TODO: don't hard code this value */
  max-height: 800px; 
  height: auto !important;
  aspect-ratio: 16/9;
}